aside {
    background-color: #030303;
    height: 100vh;
    width: 250px;
    padding-top: 40px;
    padding-left: 20px;

    display: flex;
    flex-direction: column;

    grid-area: 'aside';
}

aside p {
    color: #fff;
    opacity: 0.5;
    font-weight: 300;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.options {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.option-item {
    padding: 10px;
}

.option-item a, .playlists-list a{
    text-decoration: none;
    color: #fff;
    display: flex;
    opacity: 0.5;
    transition: opacity 0.2s;
    align-items: center;
    gap: 16px;
}

.option-item a:hover, .playlists-list a:hover {
    opacity: 1;
}

.option-item a img {
    width: 25px;
}

.create-playlist {
    margin-top: 20px;
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 20px;
    padding: 10px;

    text-decoration: none;
    color: #fff;
    opacity: 0.5;
    transition: opacity 0.2s;
}

.create-playlist:hover {
    opacity: 1;
}

.create-playlist img {
    width: 25px;
}

.playlists-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    overflow-y: scroll;
    padding-bottom: 116px;
}

    .playlists-list::-webkit-scrollbar {
        width: 7px;
    }

  .playlists-list::-webkit-scrollbar-track {
    background: #030303;
    border-radius: 10px;
  }

  
  .playlists-list::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
  }

  .playlists-list::-webkit-scrollbar-thumb:hover {
    background: #a5a5a5; 
  }