.card {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.041);
    border-radius: 10px;
    gap: 10px;
    cursor: pointer;

    transition: background 0.2s;
    text-overflow: ellipsis;

    position: relative;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.089);
}

.card img {
    width: 100%;
}

.card .title{
    color: #fff;
    margin-left: 10px;
}

.card .desc{
    color: grey;
    margin-left: 10px;
    font-size: 12px;
    margin-bottom: 10px;
}

.card button {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 100%;

    background-color: #66D36E;
    cursor: pointer;
    color: #fff;

    font-size: 20px;

    position: absolute;
    bottom: 80px;
    right: 10px;

    transition: visibility 0s, opacity 0.2s linear, transform 0.2s, font-size 0.1s;

    -webkit-box-shadow: -2px 3px 17px 1px #000000; 
    box-shadow: -2px 3px 17px 1px #000000;
}

.card button:hover {
    transform: scale(1.04);
}